.event-block {
  box-sizing: border-box;
  position: absolute;
  background-color: #E2ECF5;
  border-left: 2px solid #6E9ECF;
  max-width: 200px;
}
span.event-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
