<form ngNativeValidate (ngSubmit)="submitForm(eventForm)" #eventForm="ngForm">
  <h3>Add New Event</h3>
  <div>
    <label> Event Tile </label>
    <input ngModel required autofocus
           class="title-input"
           placeholder="Enter event title"
           name="title" />
  </div>
  <div>
    <label> Start Time </label>
    <input ngModel
           type="time"
           min="08:00" max="18:00"
           required
           placeholder="Start Time"
           name="start" />
  </div>
  <div>
    <label> Duration (in minutes) </label>
    <input ngModel
           required
           type="number"
           placeholder="Duration"
           name="duration" />
  </div>
  <div *ngIf="errorMessage.length > 0">{{errorMessage}}</div>

  <button (click)="resetForm(eventForm)">{{ 'Reset' }}</button>
  <button [disabled]="eventForm.invalid" type="submit">{{ 'Add' }}</button>

</form>
