.buttons-holder {
  text-align: center;
  height: 50px;
}
.event-holder {
  position: relative;
  width: 550px;
  margin: 50px auto;
  app-schedule-grid {
    position: absolute;
    top: 0;
    left: 0;
  }
  .active {
    .event-block  {
      background-color: #CBD4DC;
    }
  }

}
